.terminal_search{ padding:10px 10px; }
.layui-table,.layui-table th{ text-align:center; }
.terminal_list .layui-form-switch{ margin-top:0; }
.export_record {margin-left:400px;}
/*分页*/
#page {
    text-align: right;
}